@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&family=Kanit:wght@500&display=swap");
@layer base {
  a {
    @apply p-1;
  }
}

body {
  background-color: #100f12;
}
html {
  scroll-behavior: smooth;
}
.scene {
  position: absolute;
  width: 100%;
  transform: translateY(var(--translateY));
  will-change: transform;
}

@font-face {
  font-family: "Elianto-Regular";
  src: local("Elianto-Regular"), url("/Assets/Fonts/Elianto-Regular.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometos";
  src: local("Geometos"), url("/Assets/Fonts/Geometos.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Melody";
  src: local("Melody"), url("/Assets/Fonts/Melody.otf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "GoodTiming";
  src: local("GoodTiming"), url("/Assets/Fonts/goodtiming.otf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Robotech";
  src: local("Robotech"), url("/Assets/Fonts/Robotech.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "arial";
  src: local("arial"), url("/Assets/Fonts/arial.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  src: local("poppins"), url("/Assets/Fonts/poppins.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arkhip";
  src: local("Arkhip"), url("/Assets/Fonts/Arkhip.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url("/Assets/Fonts/Quicksand.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "ARCADECLASSIC";
  src: local("ARCADECLASSIC"), url("/Assets/Fonts/ARCADECLASSIC.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Azonix";
  src: local("Azonix"), url("/Assets/Fonts/Azonix.woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Hero-Bold";
  src: local("Hero-Bold"), url("/Assets/Fonts/Hero-Bold.woff2");
  font-display: swap;
}



:root {
  --border-radius--menu-wrapper: 100px;
  --border-radius--menu-link: 92px;
}

.menuLink {
  @apply gap-x-2 max-md:gap-x-1 text-white cursor-pointer border flex-none justify-between items-center text-sm max-sm:text-xs font-normal leading-[114.286%] max-sm:leading-none no-underline transition-[background-color] duration-[0.2s] ease-[ease-in-out] flex py-4 max-sm:py-2 px-6 max-sm:px-3 rounded-[80px] border-solid border-[#999999] hover:border-[#] hover:bg-[#36353a];
}

.menuLinkm {
  @apply gap-x-2 max-md:gap-x-1 text-white cursor-pointer flex-none justify-between items-center text-sm max-sm:text-xs font-normal leading-[114.286%] max-sm:leading-none no-underline transition-[background-color] duration-[0.2s] ease-[ease-in-out] flex py-4 max-sm:py-2 px-6 max-sm:px-3 rounded-[80px] border-solid border-[#999999] hover:border-[#] hover:bg-[#36353a];
}
.menuLink.active {
  background-color: #414141; /* Change this to the desired background color */
}

.transition-custom {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.animateNav {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes loadingLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-loadingLine {
  animation: loadingLine 2.4s ease-in-out infinite;
}

@keyframes slide-in {
  0% {
    transform: translate3d(0px, 3vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: 0px;
    opacity: 0;
  }
  30% {
    transform: translate3d(0px, 2vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: 100px;
    opacity: 0;
  }
  60% {
    transform: translate3d(0px, 1vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: 140px;
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: fit-content;
    opacity: 1;
  }
}
